.App {
  text-align: center;
  background-image: url(/public/bgmovie.jpg);
  background-size: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
}

.bgBookingMovie {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.content .screen {
  width: 80%;
  height: 40px;
  background-color: #b1d43a;
  border-radius: 10px;
}

.content .chair_note .chair_color {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.content .table {
  color: #f3f351;
}

.bgBookingMovie .content .content__left .list__chair .number__chair {
  border: 2px solid #ebf710;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  width: 35px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.bgBookingMovie .content .content__left .list__chair .number__chair.active {
  background-color: #36e050;
}

.bgBookingMovie
  .content
  .content__left
  .list__chair
  .number__chair.full__chair {
  background-color: #e61212;
}

.bgBookingMovie .content .content__left .list__chair .number__chair:hover {
  background-color: #36e050;
}

.bgBookingMovie .content .content__left .list__chair .row__chair {
  width: 2%;
}
